main {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

}

main nav {
    flex-grow: 0;
    padding: 50px;
}

a:active, a:visited,
a:link, a:hover {
    color: black;
}

main nav li {
    margin-bottom: 20px;
    font-family: 'Conv_floyd';
    font-size: 20px;
}

main section {
    font-family: 'Conv_Exo2-Light';
    padding: 30px;
    flex-basis: 100%;
}

section h1 {
    font-family: 'Conv_agatha-modern';
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
